* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 5, 5);
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
  width: 300px;
  background-color: #111111;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar-nav .logo {
  width: 100px;
  margin-left: 12px;
}

.sidebar-nav .logo img {
  width: 100%;
  height: 50%;
}

.sidebar-nav .set i {
  margin-left: 10px;
  color: #fff;
}

.sidebar-nav .set span {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.sidebar-nav {
  background-color: #212121;
  border-radius: 8px;
  padding: 10px 2px;
  margin-bottom: 7px;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav ul li {
  padding: 10px 20px;
}

.sidebar-nav ul li a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 15px;
  font-weight: 600;
}

.sidebar-nav ul li a i {
  font-size: 18px;
  margin-right: 10px;
}

.library::after {
  content: "+";
  float: right;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}

.creat-playlist {
  background-color: #302f2f;
  padding: 30px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sidebar-scroll {
  height: 120px;
  overflow-y: auto;
}

.sidebar-scroll::-webkit-scrollbar {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  width: 10px;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background: #5c5b5b;
  width: 5px;
}

.creat-playlist h4 {
  color: #fff;
  font-size: 12px;
}

.creat-playlist p {
  color: #fff;
  font-size: 11px;
  margin: 12px 0;
}

.creat-playlist button {
  height: 4vh;
  width: 50%;
  margin: 1px 5px;
  border: 0;
  outline: 0;
  border-radius: 15px;
  font-weight: 200px;
}

.privacy ul li a {
  text-decoration: none;
  color: #575656;
  font-size: 12px;
  font-weight: 600;
  margin: 5px 5px;
}

.privacy ul {
  list-style: none;
  margin-top: 10px;
}

.privacy ul li {
  padding: 0 15px;
  padding-bottom: 10px;
}

.english {
  padding: 15px 25px;
}

.english-btn button {
  padding: 8px 15px;
  background: transparent;
  border: 0;
  outline: none;
  color: #ffffff;
  border: 1px solid #818000;
  margin: 10px;
  border-radius: 0.9rem;
}

.english-btn button i {
  gap: 1rem;
}

.english-btn button:hover {
  padding: 8px 15px;
  border: 1px solid #fff;
}

/* .....Main-Section started from here.....*/
.main-section {
  margin-left: 300px;
  background: #101010;
  height: 100vh;
  overflow: auto;
}

.main-section .top-nav {
  padding: 20px 30px;
  background: #131212;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section .top-nav button {
  background: transparent;
  border: 0;
  outline: 0;
}

.main-section .top-nav .prev-btn button i {
  color: #838181;
  font-size: 22px;
  margin-right: 20px;
}

.top-nav .login-btn .sign-up {
  color: #838181;
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
}

.top-nav .login-btn .sign-up:hover {
  color: #ffffff;
}

.top-nav .login-btn .login {
  color: #242323;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 22px;
  border-radius: 20px;
  background-color: #fff;
}

.top-nav .login-btn .login:hover {
  background-color: #f3f3f3;
}

/* .......Playlist 1.......  */

.spotify-playlist {
  padding: 20px 40px;
}

.spotify-playlist h2 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}

.spotify-playlist .card {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.spotify-playlist .card .item {
  /* width: 130px; */
  /* height: 230px; */
  background-color: #0c0c0c;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
}

.spotify-playlist .card .item:hover {
  background-color: #3d3c3c;
}

.spotify-playlist .card .item img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #575656;
}

.spotify-playlist .item h5 {
  color: #fff;
  text-align: left;
  justify-content: left;
}

.spotify-playlist .item p {
  color: #a4a2a2;
  font-size: 13px;
  margin-top: 10px;
  text-align: left;
  justify-content: left;
}

.spotify-playlist .item p:hover {
  text-decoration: underline;
}

.spotify-playlist .play-btn {
  position: relative;
}

.spotify-playlist .play-btn i {
  position: absolute;
  background-color: #1db954;
  border-radius: 55%;
  padding: 14px;
  right: 12px;
  top: -50px;
  opacity: 0;
}

.spotify-playlist .card .item:hover .play-btn i {
  opacity: 1;
}

/* .......Section play 2..... */

.spotify-playlist2 {
  padding: 20px 40px;
}

.spotify-playlist2 h2 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}

.spotify-playlist2 .card {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.spotify-playlist2 .card .item {
  /* width: 130px; */
  /* height: 230px; */
  background-color: #0c0c0c;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
}

.spotify-playlist2 .card .item:hover {
  background-color: #3d3c3c;
}

.spotify-playlist2 .card .item img {
  width: 110px;
  height: 100px;
  border-radius: 6px;
  margin-bottom: 10px;
  /* overflow: hidden; */
}

.spotify-playlist2 .item h5 {
  color: #fff;
  text-align: left;
  justify-content: left;
}

.spotify-playlist2 .item p {
  color: #a4a2a2;
  font-size: 12px;
  margin-top: 8px;
  text-align: left;
  justify-content: left;
}

.spotify-playlist2 .item p:hover {
  text-decoration: underline;
}

.spotify-playlist2 .play-btn {
  position: relative;
}

.spotify-playlist2 .play-btn i {
  position: absolute;
  background-color: #1db954;
  border-radius: 55%;
  padding: 14px;
  right: 12px;
  top: -50px;
  opacity: 0;
}

.spotify-playlist2 .card .item:hover .play-btn i {
  opacity: 1;
}


/* .................footer section.............  */

.footer-section {
  padding: 40px 20px;
}

.footer-section .footer{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-section .footer{
  display: flex;
}


.footer-section .footer .footer-column {
  flex: 1;
  margin: 10px 20px;
  margin-bottom: 10px;
}

.footer-column h3 {
  font-size: 14px;
  margin-bottom: 12px;
  color: #fff;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  list-style: none;
  margin: 6px 0;
  display: flex;
  /* margin-bottom: 10px; */
}

.footer-column ul li a {
  text-decoration: none;
  color: #969393; 
  font-size: 12px;
  cursor: pointer;
}

.footer-column ul li a:hover {
  color: #fff; 
  text-decoration: underline;
}

.footer-social {
  /* margin: 60px 3px; */
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.footer-social a{
  color: #fff;
  background: #353434;
  border-radius: 50%;
  padding: 13px;
  cursor: pointer; 
}

.footer-social a:hover{
  background: #636262;
}

.footer-bottom {
  font-size: 12px;
  color: #b3b3b3;
  margin: 0 35px;
  margin-bottom: 90px;
  bottom: 0px;
}

hr {
  margin: 20px 35px;
  border: 0;
  outline: 0;
  height: 2px;
  margin-top: 30px;
  background-color: #333;
}


